/* Fonts */
@import url(../font/lato/lato.css);
@import url(../font/heebo/heebo.css);

/* Variables */
:root {
  --ff-heading: "Lato", sans-serif;
  --ff-body: "Heebo", sans-serif;

  --clr-brand: #295393;
  --clr-brand-rgb: 41, 83, 147;
  --clr-accent: rgb(231, 116, 52);
  --clr-body: rgb(117, 137, 148);

  --transition: all 0.4s ease;
}

/* Reset */
body {
  font-family: var(--ff-body);
  color: var(--clr-body);
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--clr-accent);
}

img,
picture,
svg {
  max-width: 100%;
}

/* Utility */
.txtBrand {
  color: var(--clr-brand);
}

.txtAccent {
  color: var(--clr-accent);
}

.bgBrand {
  background-color: var(--clr-brand);
}

.bgAccent {
  background-color: var(--clr-accent);
}

.sectionPadding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Navbar */
.navbar-brand > img {
  height: 2.5rem;
}

/* Footer */
#footer {
  background-color: var(--clr-brand);
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}
#footer img {
  height: 4rem;
}

.footerTitle {
  font-family: var(--ff-heading);
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--clr-accent);
}

#footer span.h5 {
  color: white;
}

#footer ul li a {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
  transition: var(--transition);
}

#footer ul li a:hover {
  gap: 0.5rem;
}

/* Hero */
#hero {
  padding-top: 12rem;
  padding-bottom: 10rem;
  color: white;

  background: linear-gradient(70deg, rgb(8, 29, 61), rgba(41, 83, 147, 0)),
    url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.txtSubtitleHero {
  font-family: var(--ff-heading);
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--clr-accent);
}

.txtTitleHero {
  font-family: var(--ff-heading);
  font-weight: 700;
}

/* Contact Lite */
#contactLite {
  margin-top: -4rem;
}
